.backgroundCollage {
	background: url('../components/photodump/superCollage.jpg') top center no-repeat;
	width: 100%;
	height: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
}

.cardStyle:hover{
	background-color: #D1E2FF !important;
}

@media (max-width: 768px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 650px;
		align-items: flex-start;
		padding-top: 20px;
	}
}

@media (max-width: 546px) {
	.whiteList {
		height: 550px !important;
	}
}

@media (max-width: 495px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 700px;
	}
}

@media (max-width: 488px) {
	.whiteList {
		height: 600px !important;
	}
}

@media (max-width: 484px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 720px;
	}
}

@media (max-width: 402px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 740px;
	}
	.whiteList {
		height: 650px !important
	}
}

@media (max-width: 390px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 800px;
	}
}

@media (max-width: 330px) {
	.backgroundCollage {
		background-repeat: repeat-y;
		height: 860px;
	}
	.whiteList {
		height: 770px !important;
	}
}
