.sarahPainting {
	display: flex;
	align-items: center;
	background: url('../components/photodump/Art_Wall_Sitting.jpg') bottom center no-repeat;
	height: 470px;
	background-size: cover;
    background-attachment: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.variousMedia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 270px;
	border-bottom: 1px solid lightgray;
}

.variousMediaWords {
	width: 85%;
	font-weight: 300;
	font-size: 2.5em;
	text-align: center;
	margin: 0 auto;
	color: #3CB371;
}

.expression {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	border-bottom: 1px solid lightgray;
}

.expression:last-child {
	border-bottom: none;
}

.expressionWords {
	flex: 0 1 65%;
	padding: 0 30px;
	font-size: 2em;
	font-weight: 300;
	color: #FF623F;
	line-height: 1;
}

.expression > img {
	height: 258px;
	flex: 0 1 35%;
	border-radius: 10px;
}

@media (max-width: 1224px) {
	.creativityHead {
		font-size: 3.5em !important;
	}
}

@media (max-width: 1105px) {
	.creativityHead {
		font-size: 3em !important;
	}
}

@media (max-width: 1010px) {
	.recoveryWords {
		font-size: 2em !important;
	}
}

@media (max-width: 996px) {
	.creativityHead {
		font-size: 2.8em !important;
	}
}

@media (max-width: 900px) {
	.creativityHead {
		font-size: 2.5em !important;
	}
	.expressionWords {
		font-size: 1.8em;
	}
}

@media (max-width: 850px) {
	.artBoxWords {
		font-size: 2.5em !important;
	}
	.expressionWords {
		font-size: 1.5em;
	}
	.variousMediaWords {
		font-size: 2em;
	}
}

@media (max-width: 810px) {
	.recoveryWords {
		font-size: 1.7em !important;
	}
}

@media (max-width: 806px) {
	.creativityHead {
		font-size: 2em !important;
	}
}

@media (max-width: 768px){
	.creativeTop {
		height: 80px !important;
	}
	.artClass{
		flex-direction: column !important;
		height: 715px !important;
	}
	.variousMedia{
		height: 200px !important;
	}
}

@media (max-width: 670px){
	.variousMediaWords {
		font-size: 1.6em;
	}
}

@media (max-width: 657px) {
	.creativityHead {
		font-size: 1.5em !important;
	}
}

@media (max-width: 657px) {
	.creativityHead {
		font-size: 1.5em !important;
	}
}

@media (max-width: 530px) {
	.creativeArtsStoryWords {
		font-size: 2.5em !important;
	}
}

@media (max-width: 440px) {
	.creativeArtsStoryWords {
		font-size: 2.2em !important;
	}
}

@media (max-width: 386px) {
	.creativeArtsStoryWords {
		font-size: 1.8em !important;
	}
}
