

.fitnessPhoto {
	background: linear-gradient(
	      rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../components/photodump/BC-Green-Shirt.jpg') top no-repeat;
	background-size: cover;
    background-attachment: fixed;
	height: 463px;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	background-color: darkgreen;
	color: white;
}

.programsBlack {
	background-color: black;
}

a.middleLink {
	color: white !important;
	background-color: red;
}

a.middleLink:hover {
	color: red !important;
	background-color: white;
	border: 1px solid red;
}

@media (max-width: 992px) {
	.introFitness{
		height: 130px !important;
	}
	.introHeader {
		font-size: 4em !important;
	}
	.introEnergy{
		font-size: 2em !important;
	}
}

@media (max-width: 900px){
	.classPara {
		font-size: 1.1em !important;
	}
}

@media (max-width: 768px) {
	.fitnessPhoto {
		background:linear-gradient(
	      rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../components/photodump/BC-Green-ShirtCROP500.jpeg') top no-repeat;;
		height: 400px;
	}
	.programs{
		height: 100% !important;
		width: 100%;
		margin: 0 auto;
	}
	.bcPhoto {
		height: 300px !important;
		margin: 0 auto;
		border-radius: 0 0 5px 5px !important;
	}
	.programDesc {
		margin-bottom: 20px !important;
		text-align: center;
	}
	.oddClass {
		order: 1 !important;
	}
	.evenClass {
		order: 2 !important;
	}
}

@media (max-width: 550px) {
	.introFitness{
		height: 100px !important;
	}
	.introHeader {
		font-size: 3em !important;
	}
	.introEnergy{
		font-size: 1.5em !important;
	}
}

@media (max-width: 523px){
	.fitnessPhoto {
		background:linear-gradient(
	      rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../components/photodump/BC-Green-ShirtCROP350.jpeg') top no-repeat;;
		height: 350px;
	}
}