.footerWide {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.socialLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.actualSocial {
	padding-bottom: 0 10px;
	margin: 0 10px;
}

.actualFooter{
	height: auto;
	background-color: red;
	padding-bottom: 10px;
}

.smallMB {
	margin: 0 5px;
}

i.icon.facebook, i.icon.youtube {
	font-size: 1.5em;
}

.facebook.actualSocial {
	background-color: #3b5998;
	height: 36px;
	width: 118px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .28571429rem;
	cursor: pointer;
	padding: 0 20px;
}

.facebook.actualSocial:hover {
	background-color: #31497D;
}

.fbLink {
	color: white;
	font-size: 25px;
}

.youtube.actualSocial {
	background-color: #bb0000;
	height: 36px;
	width: 118px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .28571429rem;
	cursor: pointer;
	padding: 0 20px;
}

.youtube.actualSocial:hover {
	background-color: #990000;
}

.youtubeLink {
	color: white;
	font-size: 25px;
}

.mindBody.actualSocial {
	background: linear-gradient(45deg, #A61E71, #FF8000);
	height: 36px;
	width: 118px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .28571429rem;
	cursor: pointer;
	padding: 0 20px;
}

.mindBody.actualSocial:hover {
	background: linear-gradient(45deg, #87185C, #FF9500);
}

a.mindBodyA {
	font-size: 1rem;
	color: white !important;
	font-weight: 700;
	line-height: 1em;
}

.mbWhite {
	height: 20px;
}

.whoWeAre {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0 60px;
}

.whoWords {
	font-size: 13px;
	font-weight: 600;
}

.navCopy{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
} 

.footerLinks{
	font-size: 18px;
	margin: 0 10px;
}

.feedback {
	display: flex;
	justify-content: center;
}

.bottomMailTo{
	display: flex;
	justify-content: center;
}

a.bottomMailTo {
	color: white;
	width: 100%;
	cursor: pointer;
}

a.bottomMailTo:hover {
	color: black;
}

a.footerALinks{
	color: white;
	cursor: pointer;
}

a.footerALinks:hover {
	color: black;
}

@media (max-width: 768px) {
	.footerLinks {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	.footerLinks {
		font-size: 10px;
	}
	a.bottomMailTo {
		font-size: 10px;
	}
	.footerLinks {
		margin: 0 3px;
	}
}